<!DOCTYPE html>
<html>
<head>
    <title>TP - Backend</title>
    <!-- Aplicacion de CSS para el panel del administrador -->
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
        }

        th,
        td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
        }

        h2 {
            margin-top: 40px;
        }

        form {
            margin: 10px 0;
        }

        input {
            margin: 5px;
        }
    </style>
</head>

<body>
    <h1>Panel Backend</h1>

    <!-- Productos -->
    <h2>Productos</h2>
    <!-- Tablas de donde salen todas los datos (productos)-->
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>categoria</th>
                <th>precio</th>
                <th>imagen</th>
                <th>activo</th>
            </tr>
        </thead>
        <tbody>
            <!-- Recorrido de cada dato para validarlo -->
            <% productos.forEach(producto=> { %>
                <tr>
                    <td>
                        <%= producto.id %>
                    </td>
                    <td>
                        <%= producto.nombre %>
                    </td>
                    <td>
                        <%= producto.categoria %>
                    </td>
                    <td>
                        <%= producto.precio %>
                    </td>
                    <td>
                        <%= producto.imagen %>
                    </td>
                    <td>
                        <%= producto.activo %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <!-- Creación de nuevo dato sobre la tabla de productos -->
    <form action="/dashboard/admin/productos/insert" method="POST"> 
        <strong>Agregar:</strong>
        <input type="text" name="nombre" placeholder="nombre" maxlength="100">
        <input type="text" name="categoria" placeholder="categoria" maxlength="30">
        <input type="text" name="precio" placeholder="precio" maxlength="11">
        <input type="text" name="imagen" placeholder="imagen" maxlength="300">
        <input type="hidden" name="activo" value="1">
        <button type="submit">Agregar</button>
    </form>
    <!-- Modificación de dato sobre la tabla de productos -->
    <form action="/dashboard/admin/productos/update" method="POST">
        <strong>Modificar (por ID):</strong>
        <input type="number" name="id" placeholder="ID" maxlength="11">
        <input type="text" name="nombre" placeholder="nombre" maxlength="100">
        <input type="text" name="categoria" placeholder="categoria" maxlength="30">
        <input type="text" name="precio" placeholder="precio" maxlength="11">
        <input type="text" name="imagen" placeholder="imagen" maxlength="300">
        <input list="lista-activo" name="activo" placeholder="activo">
        <datalist id="lista-activo">
            <option value="1">Activo</option>
            <option value="0">Inactivo</option>
        </datalist>
        <button type="submit">Modificar</button>
    </form>
    <!-- Eliminar dato sobre la tabla de productos -->
    <form action="/dashboard/admin/productos/delete" method="POST">
        <strong>Eliminar (por ID):</strong>
        <input type="number" name="id" placeholder="ID">
        <button type="submit">Eliminar</button>
    </form>
<!-- mismo que en la tabla anterior: creacion, recorrido, validacion y crud -->
    <h2>Películas</h2>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>género</th>
                <th>duración</th>
                <th>director</th>
                <th>año</th>
                <th>precio</th>
                <th>imagen</th>
                <th>activo</th>
            </tr>
        </thead>
        <tbody>
            <% peliculas.forEach(pelicula=> { %>
                <tr>
                    <td>
                        <%= pelicula.id %>
                    </td>
                    <td>
                        <%= pelicula.nombre %>
                    </td>
                    <td>
                        <%= pelicula.genero %>
                    </td>
                    <td>
                        <%= pelicula.duracion %>
                    </td>
                    <td>
                        <%= pelicula.director %>
                    </td>
                    <td>
                        <%= pelicula.anio %>
                    </td>
                    <td>
                        <%= pelicula.precio %>
                    </td>
                    <td>
                        <%= pelicula.imagen %>
                    </td>
                    <td>
                        <%= pelicula.activo %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
<!-- Creación  -->
    <form action="/dashboard/admin/peliculas/insert" method="POST">
        <strong>Agregar:</strong>
        <input type="text" name="nombre" placeholder="nombre" maxlength="100">
        <input type="text" name="genero" placeholder="género" maxlength="11">
        <input type="number" name="duracion" placeholder="duración" maxlength="11">
        <input type="text" name="director" placeholder="director" maxlength="50">
        <input type="number" name="anio" placeholder="año" maxlength="11">
        <input type="text" name="precio" placeholder="precio" maxlength="11">
        <input type="text" name="imagen" placeholder="imagen" maxlength="300">
        <input type="hidden" name="activo" value="1">
        <button type="submit">Agregar</button>
    </form>
<!-- Modificación -->
    <form action="/dashboard/admin/peliculas/update" method="POST">
        <strong>Modificar (por ID):</strong>
        <input type="number" name="id" placeholder="ID" maxlength="11">
        <input type="text" name="nombre" placeholder="nombre" maxlength="100">
        <input type="text" name="genero" placeholder="género" maxlength="11">
        <input type="number" name="duracion" placeholder="duración" maxlength="11">
        <input type="text" name="director" placeholder="director" maxlength="50">
        <input type="number" name="anio" placeholder="año" maxlength="11">
        <input type="number" name="precio" placeholder="precio" maxlength="11">
        <input type="text" name="imagen" placeholder="imagen" maxlength="300">
        <input list="lista-activo" name="activo" placeholder="activo">
        <datalist id="lista-activo">
            <option value="1">Activo</option>
            <option value="0">Inactivo</option>
        </datalist>
        <button type="submit">Modificar</button>
    </form>
<!-- Eliminar -->
    <form action="/dashboard/admin/peliculas/delete" method="POST">
        <strong>Eliminar (por ID):</strong>
        <input type="number" name="id" placeholder="ID">
        <button type="submit">Eliminar</button>
    </form>

</body>

</html>